---
BasedOnStyle: WebKit
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
InsertNewlineAtEOF: true
SpaceInEmptyBraces: Never
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: [inline, static, type, const, volatile]
...
